body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: fantasy;
  overscroll-behavior: none;
  overflow: hidden;
}


body, textarea, button, input {
  background: black;
  color: white;
}


textarea, input {
  border: solid 1px grey;
  border-radius: 3px
}


h1 {
  text-align: center;
}


h1 span {
  display: block;
  font-size: 0.5em;
  opacity: 0.75;
}


table, tbody {
  width: 100%;
  height: 100%;
}


td {
  height: 100%;
  vertical-align: top;
}


tr {
  width: 100%;
}


button {
  padding: 0.5em 1em;
  /* Huh? */
  font-family: fantasy;
}


#button-container {
  width: 100%;
  text-align: right;
  margin: 0.5em 0;
}


#header {
  padding: 1em;
  height: 15vh;
}


#token-control {
  position: absolute;
  width: 31%;
  top: 2em;
  right: 0;
  opacity: 0.7;
}


#board {
  display: flex;
  justify-content: space-between
}


#reply {
  width: 33%;
  height: calc(100vh - 25vh);
  padding: 1em;
  overflow-y: scroll;
}

#history {
  width: 66%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 25vh);
  padding: 1em;
}

#history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
}

#history-log {
  flex: 1;
  overflow-y: scroll;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.log-entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: start;
}

.log-entry img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.log-text {
  white-space: pre-wrap;
  line-height: 1.4;
  opacity: 0.8;
}


#prompt {
  width: 100%;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: lightgrey;
  box-shadow: 0 0 1px blue;
}
